      :root {
         --small-vertical-gap: 0.2em;
         --vertical-gap: 0.4em;
         --big-vertical-gap: 1em;
         --small-horizontal-gap: 0.2em;
         --horizontal-gap: 0.6em;
         --big-horizontal-gap: 1em;
         --table-horizontal-gap: 1.2em;
         --frame: 0.2em 1.2em 0.2em 1.2em;
         --td-auto-width: 1px;
         --border-radius: 4px;
         --master-password-width: 28em;
         --font-general: 100%;
         --font-heading: 150%;
         --font-button: 160%;
         --font-version: 80%;
         --font-user-metadata: 85%;
         --border: solid thin gray;
         --user-metadata-color: darkred;
         --focus-indicator: #DDEEFF;
         --warning-indicator: red;
      }
      * { padding: 0; margin: 0; box-sizing: border-box; }
      * { font-family: sans-serif; }
      select { height: 100%; outline: var(--border); border: none; }
      input, table { border: var(--border); }
      html, body { height: 100%; background-color: papayawhip; }
      body { display: flex; flex-flow: column; height: 100%; font-size: var(--font-general); user-select: none; }
      header input {
         outline: none; width: var(--master-password-width);
         text-overflow: ellipsis;
         padding: var(--vertical-gap);
         padding-left: var(--horizontal-gap); padding-right: var(--horizontal-gap); border-radius: var(--border-radius); }
      header > section { display: flex; align-items: center; width: fit-content; }
      header > section > div { width: var(--horizontal-gap); }
      h1 { font-size: var(--font-heading); margin-top: var(--big-vertical-gap); margin-bottom: var(--big-vertical-gap); }
      h1 > small { font-size: var(--font-version); font-weight: normal; }
      h1 > span:last-of-type { font-size: var(--font-user-metadata); color: var(--user-metadata-color); } /* user metadata title */
      option, input, main, footer, header, th, td { padding: var(--big-horizontal-gap); }
      option, input, footer, header, th, tr { padding-top: var(--small-vertical-gap); padding-bottom: var(--small-vertical-gap); }
      optgroup { padding-left: var(--horizontal-gap); }
      main { padding-top: var(--big-vertical-gap); padding-bottom: var(--big-vertical-gap); white-space: nowrap; }
      table { border-collapse: collapse; }
      table, main aside { margin-left: var(--table-horizontal-gap); }
      main aside { margin-top: var(--big-vertical-gap); color: var(--warning-indicator); visibility: hidden; }
      th { font-weight: normal; padding: var(--horizontal-gap); }
      td { border-top: var(--border); vertical-align: middle; }
      td:first-child { text-align: right; }
      td:last-child { padding-left: 0; }
      td { width: fit-content; }
      td:nth-of-type(2) { width: var(--td-auto-width); text-align: center; }
      td:nth-last-child(2) { padding: var(--horizontal-gap); }
      td:nth-of-type(2) { padding-left: 0; padding-right: 0; }
      button { border: none; font-size: var(--font-button); padding: var(--small-horizontal-gap); outline: none; }
      button:focus { outline: var(--border) }
      main { flex: auto; }
      main > section { display: inline-block; vertical-align: top; }
      footer { border-top: var(--border); }
      footer a { margin-left: var(--big-horizontal-gap); }
      header > section, h1, footer, td { white-space: nowrap; }
      header { background-color: transparent; }
      footer { background-color: azure; }
      table { background-color: white; }
      button { background-color: transparent; }
      select:focus, input:focus, button:focus { background-color: var(--focus-indicator); }
